click==8.0.1
colorama==0.4.4
h5py==3.2.1
joblib==1.0.1
Keras==2.4.3
nltk==3.6.2
numpy==1.20.3
PyYAML==5.4.1
regex==2021.4.4
scipy==1.6.3
tqdm==4.60.0
asgiref==3.2.10
dj-database-url==0.5.0
Django==3.0.8
django_rest_framework
django-heroku==0.3.1
gunicorn==20.0.4
psycopg2==2.8.5
pytz==2020.1
sqlparse==0.3.1
whitenoise==5.1.0
Pillow==7.2.0
reverse-geocoder
pyzoom==0.1.8
shortuuid
pydantic
attrs
requests
certifi
idna
urllib3
chardet
tensorflow
sklearn
